body { text-align: center; background: #f0f2f5; font-family: sans-serif; }
.game-container {
    display: grid;
    grid-template-columns: repeat(4, 80px); /* 4 بطاقات في كل سطر */
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}
.card {
    width: 80px;
    height: 100px;
    background: #007bff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: transparent; /* الرمز كيكون مخبي */
    border-radius: 8px;
    transition: transform 0.3s;
}
.card.flipped {
    background: white;
    color: black;
    transform: rotateY(180deg);
}
/* الشكل العادي ديال البوطون */
button {
    margin-top: 30px; /* هاد السطر هو اللي كيزيد المساحة الفوقانية */
    
    /* هادو هما التعديلات اللي درنا قبل باش يبقى داكشي منظم */
    padding: 12px 30px;
    background-color: #ff0044;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 1.5s ease;
}

button:hover {
    background-color: #cc0036;
}